{% extends 'news/base.html' %}
{% load static %}
{% load i18n %}
{% block title %}
	{% blocktrans %}Muvaffaqiyatli ro'yhatdan o'dingiz{% endblocktrans %}
{% endblock %}
{% block content %}
	<h1>{{ new_user.first_name }}, {% blocktrans %}tabriklaymiz ro'yhatdan o'tdingiz{% endblocktrans %} </h1>
    <p>{% blocktrans %}Muvaffaqiyatli ro'yhatdan o'tdingiz{% endblocktrans %}!</p>
    <p>{% blocktrans %}Endi saytga{% endblocktrans %} <a href="{% url 'login' %}">{% blocktrans %}login {% endblocktrans %}</a>{% blocktrans %}qilishingiz mumkin {% endblocktrans %}</p>
{% endblock %}