{% extends 'news/base.html' %}
{% load static %}
{% load i18n %}
{% block title %}
	{% blocktrans %}Foydalanuvchilarni ro'yhatdan o'tkazish{% endblocktrans %}
{% endblock %}
{% block content %}
	<h1>{% blocktrans %}Yangi foydalanuvchini ro'yhatdan o'tkazish{% endblocktrans %}</h1>
    <p>{% blocktrans %}Ro'yhatdan o'tish uchun quyidagi formani to'ldiring{% endblocktrans %}:</p>

    <form method="post">
    {% csrf_token %}
    {{ user_form.as_p }}
{#        {{ form.as_p }}#}
    <button type="submit" >{% blocktrans %}Ro'yhatdan o'tish {% endblocktrans %}</button>
    </form>
{% endblock %}