{% extends 'news/base.html' %}
{% load static %}
{% load i18n %}
{% block title %}
	{% blocktrans %}Parolni tiklash{% endblocktrans %}
{% endblock %}

{% block content %}
	<h1>{% blocktrans %}Parolni tiklash{% endblocktrans %}</h1>
    <p>{% blocktrans %}Parolni tiklashingiz uchun e-mail manzilingizni yozing{% endblocktrans %}</p>
    <form method="post">{% csrf_token %}
        {{ form.as_p }}
    <button type="submit">{% blocktrans %}Email jo'natish{% endblocktrans %}</button>
    </form>
{% endblock %}