{% extends 'news/base.html' %}
{% load static %}
{% load i18n %}
{% block title %}
	{% blocktrans %}Parolni tiklash{% endblocktrans %}
{% endblock %}

{% block content %}
	<h1>{% blocktrans %}Parolni tiklash{% endblocktrans %}</h1>
    <p>{% blocktrans %}Parolni tiklashingiz uchun quyidagi formani to'ldiring{% endblocktrans %}</p>
    {% if validlink %}
        <p>{% blocktrans %}Iltimos parolni ikki marotaba kiriting{% endblocktrans %}</p>
         <form method="post">{% csrf_token %}
             {{ form.as_p }}
         <button type="submit">{% blocktrans %}Parolni almashtirish{% endblocktrans %}</button>
         </form>
    {% else %}
        <p>{% blocktrans %}Siz noto'g'ri link kiritdingiz{% endblocktrans %}</p>
    {% endif %}
{% endblock %}