{% extends 'news/base.html' %}
{% load static %}
{% load i18n %}
{% block title %}
	{% blocktrans %}Admin sahifasi{% endblocktrans %}
{% endblock %}
{% block content %}
	<h1>{% blocktrans %}Admin sahifasi{% endblocktrans %}</h1>
    <h3>{% blocktrans %}Barcha adminlar{% endblocktrans %}</h3>
    <table class="table table-bordered table-responsive table-striped">
    <tr>
        <th>{% blocktrans %}Username{% endblocktrans %}</th>
        <th>{% blocktrans %}Ism{% endblocktrans %}</th>
        <th>{% blocktrans %}Familiya{% endblocktrans %}</th>

    </tr>
    {% for user in super_users %}
        <tr>
        <th>{{ user.username }}</th>
            <th>{{ user.first_name }}</th>
        <th>{{ user.last_name }}</th>
        </tr>
    {% endfor %}
    </table>
    <h2>|
        <a href="{% url 'news_create' %}" class="text-primary">
            {% blocktrans %}Yangilik qo'shish{% endblocktrans %}
        </a>
    |</h2>
{% endblock %}