{% extends 'news/base.html' %}
{% load static %}
{% block title %}
	Admin sahifasi
{% endblock %}
{% block content %}
	<h1>Admin sahifasi</h1>
    <h3>Barcha adminlar</h3>
    <table class="table table-bordered table-responsive table-striped">
    <tr>
        <th>Username</th>
        <th>Ism</th>
        <th>Familiya</th>

    </tr>
    {% for user in super_users %}
        <tr>
        <th>{{ user.username }}</th>
            <th>{{ user.first_name }}</th>
        <th>{{ user.last_name }}</th>
        </tr>
    {% endfor %}
    </table>
    <h2>|
        <a href="{% url 'news_create' %}" class="text-primary">
            Yangilik qo'shish
        </a>
    |</h2>
{% endblock %}