{% extends 'news/base.html' %}
{% load static %}
{% load i18n %}
{% block title %} {% endblock %}
{% block content %}
	<h2 class="text-center">{% blocktrans %}Joriy yangiliklar tahriri{% endblocktrans %}</h2>
    <form method="post" enctype="multipart/form-data">{% csrf_token %}
        {{ form.as_p }}
    <p>{{ news.title | truncatewords:3 }}... {% blocktrans %}sarlavha yangiligini tahrirlamoqchimisiz{% endblocktrans %}</p>
    <button type="submit" class="btn btn-success ml-2">{% blocktrans %}Tahrirlash{% endblocktrans %}</button>
    </form>
{% endblock %}