{% extends "news/base.html" %}
{% load static %}
{% block title %} Mahalliy yangiliklar {% endblock title %}
{% block content %}
    <section id="contentSection">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-8">
        <div class="left_content">
          <div class="single_post_content">
            <h2><span>Mahalliy yangiliklar</span></h2>
            <div class="single_post_content_left">
              <ul class="business_catgnav">
                  {% for mahalliy in mahalliy_yangiliklar %}
                      {% if forloop.first %}
                <li>
                  <figure class="bsbig_fig  wow fadeInDown"> <a class="featured_img" href="{{ mahalliy.get_absolute_url }}"> <img src="{{ mahalliy.image.url }}" alt=""> <span class="overlay"></span> </a>
                    <figcaption> <a href="{{ mahalliy.get_absolute_url }}">{{ mahalliy.title }}</a> </figcaption>
                    <p>{{ mahalliy.body | truncatewords:30 }}</p>
                  </figure>
                </li>
                      {% endif %}
                  {% endfor %}
              </ul>
            </div>
            <div class="single_post_content_right">
              <ul class="spost_nav">
                  {% for mahalliy in mahalliy_yangiliklar %}
                       {% if forloop.counter > 1 %}
                <li>
                  <div class="media wow fadeInDown"> <a href="{{ mahalliy.get_absolute_url }}" class="media-left"> <img alt="" src="{{ mahalliy.image.url }}"> </a>
                    <div class="media-body"> <a href="{{ mahalliy.get_absolute_url }}" class="catg_title"> {{ mahalliy.title }} </a> </div>
                  </div>
                </li>
                      {% endif %}
                {% endfor %}
              </ul>
            </div>
    </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <aside class="right_content">
          <div class="single_sidebar">
            <h2><span>Tavsiya etamiz</span></h2>
            <ul class="spost_nav">
                {% for tavsiya in tavsiya_mahalliy %}
              <li>
                <div class="media wow fadeInDown"> <a href="{{ tavsiya.get_absolute_url }}" class="media-left"> <img alt="" src="{{ tavsiya.image.url }}"> </a>
                  <div class="media-body"> <a href="{{ tavsiya.get_absolute_url }}" class="catg_title"> {{ tavsiya.title }}</a> </div>
                </div>
              </li>
               {% endfor %}
            </ul>
          </div>
        </aside>
      </div>
    </div>
  </section>

{% endblock content %}