{% extends "news/base.html" %}
{% load hitcount_tags %}
{% load static %}
{% load i18n %}
{% block title %} {% blocktrans %}Xorij yangiliklari {% endblocktrans %}{% endblock title %}
{% block content %}
	<section id="contentSection">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-8">
        <div class="left_content">
          <div class="error_page">

              <div class="single_iteam"> <a href="#"> <img src="{{news.image.url}}" alt=""></a></div>
              <h5>{{ news.publish_time }} | <i class="fa fa-eye" aria-hidden="true"></i> {% get_hit_count for news %} | Izohlar soni: {{ comment_count }}</h5>
              <h3>{{ news.title }}</h3>
            <p style="text-align: start">{{ news.body }}</p>
            <span></span> <a href="{% url 'home_page' %}" class="wow fadeInLeftBig">Go to home page</a> </div>
        </div>
          {% if request.user.is_authenticated and request.user.is_superuser %}
          <div class="card-footer text-center">
              <a href="{% url 'news_update' news.slug %} ">Tahrirlash</a> |
              <a href="{% url 'news_delete' news.slug %} ">O'chirish</a>
          </div>
          {% endif %} <br>
      <h3>{% blocktrans %}Bu yangilikka {% endblocktrans %}{{ comment_count }}{% blocktrans %} ta izoh qoldirilgan{% endblocktrans %}</h3>
      {% for comment in comments %}
          <div class="commnts" style="padding: 10 px">
          <p class="font-weight-bold">
              {{ comment.user }}
              <span class="text-muted font-weight-normal">
                  {{ comment.created_time }}
              </span>
          </p>
          {{ comment.body | linebreaks }}
          </div>
      {% endfor %}
      {% if user.is_authenticated %}
        <div class="col-md-8 card mb-4 mt-3">
            <div class="card-body">
                <h3>{% blocktrans %}Izoh qoldirish{% endblocktrans %}</h3>
                <form method="POST" style="margin-top: 1.3em">
                    {% csrf_token %}
                    {{ comment_form.as_p }}
                    <button type="submit" class="btn btn-primary btn-lg">
                        Yuborish
                    </button>
                </form>
            </div>
        </div>
      {% else %}
      <div class="card-body">
          <p class="text-danger">{% blocktrans %}Faqat ro'yhatdan o'tgan foydalanuvchilar izoh qoldira oladi{% endblocktrans %}</p>
          <p>{% blocktrans %}Izoh qoldirish uchun{% endblocktrans %}</p>
          <a href="{% url 'user_register' %}">{% blocktrans %}Ro'yhatdan o'tish{% endblocktrans %}</a> |
          <a href="{% url 'login' %}">{% blocktrans %}Saytga kiring{% endblocktrans %}</a> </p>
      </div>
      {% endif %}
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <aside class="right_content">
          <div class="single_sidebar">
            <h2><span>Popular Post</span></h2>
            <ul class="spost_nav">

              <li>
                <div class="media wow fadeInDown"> <a href="single_page.html" class="media-left"> <img alt="" src="{% static 'images/post_img1.jpg' %}"> </a>
                  <div class="media-body"> <a href="single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 1</a> </div>
                </div>
              </li>

            </ul>
          </div>
        </aside>
      </div>

    </div>
  </section>

{% endblock %}