{% extends "news/base.html" %}
{% load i18n %}
{% load static %}
{% load hitcount_tags %}
{% block title %} {% blocktrans %}Xorij yangiliklari{% endblocktrans %} {% endblock title %}

{% block content %}
      <section id="contentSection">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-8">
        <div class="left_content">
          <div class="single_post_content">
            <h2><span>{% blocktrans %}Xorijiy yangiliklar{% endblocktrans %}</span></h2>
            <div class="single_post_content_left">
              <ul class="business_catgnav">
                  {% for xorij in xorij_yangiliklar %}
                      {% if forloop.first %}
                <li>
                  <figure class="bsbig_fig  wow fadeInDown"> <a class="featured_img" href="{{ xorij.get_absolute_url }}"> <img src="{{ xorij.image.url }}" alt=""> <span class="overlay"></span> </a>
                    <figcaption> <a href="{{ xorij.get_absolute_url }}">{{ xorij.title }}</a>
                                            <p>{% blocktrans %}Ko'rilganlar soni{% endblocktrans %}: <i class="fa fa-eye" aria-hidden="true"></i> {% get_hit_count for xorij %}</p>

                    </figcaption>
                    <p>{{ xorij.body | truncatewords:30 }}</p>
                  </figure>
                </li>
                      {% endif %}
                  {% endfor %}
              </ul>
            </div>
            <div class="single_post_content_right">
              <ul class="spost_nav">
                  {% for xorij in xorij_yangiliklar %}
                       {% if forloop.counter > 1 %}
                <li>
                  <div class="media wow fadeInDown"> <a href="{{ xorij.get_absolute_url }}" class="media-left"> <img alt="" src="{{ xorij.image.url }}"> </a>
                    <div class="media-body"> <a href="{{ xorij.get_absolute_url }}" class="catg_title"> {{ xorij.title }} </a>
                                            <p>{% blocktrans %}Ko'rilganlar soni{% endblocktrans %}: <i class="fa fa-eye" aria-hidden="true"></i> {% get_hit_count for xorij %}</p>

                    </div>
                  </div>
                </li>
                      {% endif %}
                {% endfor %}
              </ul>
            </div>
    </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <aside class="right_content">
          <div class="single_sidebar">
            <h2><span>{% blocktrans %}Tavsiya etamiz{% endblocktrans %}</span></h2>
            <ul class="spost_nav">
                {% for tavsiya in tavsiya_xorij %}
              <li>
                <div class="media wow fadeInDown"> <a href="{{ tavsiya.get_absolute_url }}" class="media-left"> <img alt="" src="{{ tavsiya.image.url }}"> </a>
                  <div class="media-body"> <a href="{{ tavsiya.get_absolute_url }}" class="catg_title"> {{ tavsiya.title }}</a>
                                          <p>{% blocktrans %}Ko'rilganlar soni{% endblocktrans %}: <i class="fa fa-eye" aria-hidden="true"></i> {% get_hit_count for tavsiya %}</p>

                  </div>
                </div>
              </li>
                {% endfor %}
            </ul>
          </div>
        </aside>
      </div>
    </div>
  </section>
{% endblock content %}